:root {
  --spotify-green: #1db954;
  --spotify-darkgreen: #159543;
  --spotify-black: #191414;
  --spotify-gray: #a0a0a0;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  /* background-color: rgb(211, 217, 222); */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(4px + 2vmin);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  padding: 2em 4em 2em;
  color: white;
}

body {
  background-color: var(--spotify-black);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rand-button {
  color: var(--spotify-black);
  /* Or any color you prefer */
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  /* Set a font size */
  display: inline-block;
  padding: 11px 13px;
  background: var(--spotify-green);
  /* Background that matches its surrounding */
  border: 2px solid var(--spotify-green);
  /* Dark border */
  border-radius: 8px;
  /* Rounded corners */
  transition: background 0.1s ease-in-out;
  /* Transition for a smooth color change */
  text-decoration: none;
  /* Removes underline if the button is a link */
}

.rand-button:hover {
  /* Dark background */
  transform: scale(1.05);
}

.rand-button:active {
  background: var(--spotify-darkgreen);
  transform: scale(1);
}

.explicit {
  color: var(--spotify-black);
  background-color: var(--spotify-gray);
  border-radius: 0.5vmin;
  padding: 0.6vmin 1vmin;
  font-size: 60%;
  font-weight: bold;
  vertical-align: middle;
}

.type {
  color: var(--spotify-gray);
}

.name {
  color: white;
  text-align: end;
}
