:root {
  --spotify-green: #1db954;
  --spotify-darkgreen: #159543;
  --spotify-black: #191414;
  --spotify-gray: #a0a0a0;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 1vmin);
  color: white;
}

.App-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(16px + 1vmin);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  padding: 2em 4em 2em;
  color: white;
}

body {
  background-color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.rand-button {
  color: var(--spotify-black);
  cursor: pointer;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  display: inline-block;
  padding: 11px 13px;
  background: var(--spotify-green);
  margin: 2vh 2vw 2vh 0vw;
  border: 2px solid var(--spotify-green);
  border-radius: 8px;
  transition: background 0.1s ease-in-out;
  text-decoration: none;
}

.rand-button:hover {

  transform: scale(1.05);
}

.rand-button:active {
  background: var(--spotify-darkgreen);
  border-color: var(--spotify-darkgreen);
  transform: scale(1);
}

.explicit {
  color: var(--spotify-black);
  background-color: var(--spotify-gray);
  border-radius: 0.5vmin;
  padding: 0.6vmin 1vmin;
  font-size: 60%;
  font-weight: bold;
  vertical-align: middle;
}

.type {
  color: var(--spotify-gray);
}

.name {
  color: white;
  text-align: end;
  text-decoration: none;
}

a.name:hover {
  text-decoration: underline;
}


.checkContainer {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 20px;
  color: var(--spotify-gray);
  user-select: none;
  vertical-align: middle;
}

.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background: transparent;
  border: 2px solid var(--spotify-gray);
  border-radius: 50%;
}

.checkContainer:hover {
  color: white;
}


.checkContainer:hover input ~ .checkmark {
  border-color: white;
}

.checkContainer:hover input:checked ~ .checkmark {
  border-color: white;
  background-color: white;
}


.checkContainer input:checked ~ .checkmark {
  background-color: var(--spotify-gray);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.checkContainer input:checked ~ .checkmark:after {
  display: block;
}


.checkContainer .checkmark:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.infoContainer  {
  background-color: var(--spotify-black);
  border-radius: 20px;
  min-width: 40vw;
  max-width: 60vw;
  padding: 50px 10px;
}